[submodule "fw/sub/micropython-mqtt"]
	path = fw/sub/micropython-mqtt
	url = https://github.com/peterhinch/micropython-mqtt.git
[submodule "fw/sub/micropython-mqtt-reg"]
	path = fw/sub/micropython-mqtt-reg
	url = git@github.com:burgrp/micropython-mqtt-reg.git
[submodule "fw/sub/mpy-builder-esp32c3"]
	path = fw/sub/mpy-builder-esp32c3
	url = git@github.com:burgrp/mpy-builder-esp32c3
[submodule "sub/kicad-libraries"]
	path = sub/kicad-libraries
	url = https://github.com/espressif/kicad-libraries.git
[submodule "sub/hw-kicad"]
	path = sub/hw-kicad
	url = git@github.com:burgrp/hw-kicad.git
